<?xml version="1.0"?>
<launch>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find minisnap)/launch/planner.rviz" required="true"/>
  <node pkg="minisnap" name="trajec_node" type="trajec_node" output="screen"/>
  	<!--<rosparam file="$(find minisnap)/poses/config.yaml"/>-->
  <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen"/> -->
  <!--<node pkg="minisnap" name="control_node" type="control_node" output="screen"/>-->
</launch>
